@font-face {
    font-family: "rings";
    src: url("/ProjetoIndividual/PROJETO/public/DAFONT/rings.ttf");
  }
  
  @font-face {
    font-family: "basic";
    src: url("/ProjetoIndividual/PROJETO/public/DAFONT/basic.ttf");
  }
  
  @font-face {
    font-family: "runes";
    src: url("/ProjetoIndividual/PROJETO/public/DAFONT/runes.ttf");
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'rings';
    background-color: black;
    box-sizing: border-box;
    background-color: #1a0400;
  }
  
  body::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: url("/ProjetoIndividual/PROJETO/public/ASSETS/texturaCouro.jpg");
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #31201E;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid #D1BD97;
    /* creates padding around scroll thumb */
  }
  
  
 /* HEADER  */

.header {
    font-family: 'rings';
    color: #D1BD97;
    background: url("/ProjetoIndividual/PROJETO/public/ASSETS/dark-leather.png");
    background-size: fit-content;
    border-bottom: 5px solid #D1BD97;
    text-shadow: 0 0 10px black;
}

.header .container {
    color: #D1BD97;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
}

.header .titulo {
    text-align: left;
    font-size: 50px;
    text-decoration: none;
    color: #D1BD97;
}

.container {
    overflow: hidden;
    background-color: rgb(32, 30, 30);
    background: url("/ProjetoIndividual/PROJETO/public/ASSETS/dark-leather.png");
  }
  
  .container a {
    float: right;
    color: #D1BD97;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
  }
  
  .container a:hover {
    opacity: 90%;
    color: black;
  }
  
  .container a.active {
    color: white;
  }


/* FIM DO HEADER*/
  
  /* BANNER  */
  
  .Banner {
    height: 85vh;
    width: auto;
    color: white;
    background-image: url("/ProjetoIndividual/PROJETO/public/ASSETS/realidade.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: transform .2s;
  
  }
  
  .link {
    font-size: 100px;
    color: white;
    text-align: center;
    text-decoration: wavy;
  }
  
  
  .inicio:hover {
    -ms-transform: scale(1.5);
    /* IE 9 */
    -webkit-transform: scale(1.5);
    /* Safari 3-8 */
    transform: scale(1.5);
    background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url("/ProjetoIndividual/PROJETO/public/ASSETS/realidade.jpg");
  }
  
  .Banner .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  
  }
  
  
  /* FORMULARIO  */
  
  .Banner .container .card {
    height: 550px;
    width: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background-image: url("/ProjetoIndividual/PROJETO/public/ASSETS/frame.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  .formulario .Campos {
    padding-top: 100px;
    font-size: 50px;
    color: #D1BD97;
    font-weight: bold;
    text-shadow: 0 0 5px black;
  
  }
  
  
  .formulario .tipo_campo {
    font-size: 25px;
    font-weight: 500 !important;
    color: #31201E;
  }
  
  .formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input {
    margin-bottom: 10px;
    background-image: url("/ProjetoIndividual/PROJETO/public/ASSETS/dark-leather.png");
    background-color: #041814;
    border: 1px solid #D1BD97;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    color: wheat;
    font-family: 'basic';
    font-size: 25px;
  }
  
  .formulario .btn {
    background-image: url("/ProjetoIndividual/PROJETO/public/ASSETS/btn.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border-style: none;
    height: 75px;
    width: 255px;
    font-family: 'rings';
    color: #D1BD97;
    font-size: 35px;
    text-shadow: 0 0 5px black;
    cursor: pointer;
  }
  
  /* FIM DO FORMULARIO*/
  
  /* FIM DO BANNER*/
  
  /* FOOTER */
  
  .footer {
    font-family: 'runes';
    color: #D1BD97;
    background: url("/ProjetoIndividual/PROJETO/public/ASSETS/dark-leather.png");
    background-size: fit-content;
    height: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 5px solid #D1BD97;
  }
  
  .footer .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
  }
  
  .footer .titulo {
    text-align: center;
    font-size: 15px;
  }
  
  /* FIM DO FOOTER */